---
import { parseMessage } from "@/lib/guestbook/parser";

const { message } = Astro.props;
const lines = parseMessage(message);
---

<div class="entry-content">
  {lines.map(line => (
    <div class={
      line.type === "greentext"
        ? "green"
        : line.type === "orangetext"
        ? "orange"
        : ""
    }>
    {line.chunks.map(chunk => {
      if (chunk.type === "link") {
        return <a href={`/guestbook#entry-${chunk.id}`}>{chunk.text}</a>;
      }

      if (chunk.type === "url") {
        return (
          <a href={chunk.url} target="_blank" rel="noopener noreferrer">
            {chunk.text}
          </a>
        );
      }

      return chunk.text;
    })}
    </div>
  ))}
</div>
