---
import './guestbook.css';
---

<form id="guestbook-form">
  <input type="text" name="name" placeholder="Nombre (Opcional)" />
  <input type="text" name="website" placeholder="Sitio web (opcional)" />
  <textarea name="message" placeholder="Tu mensaje" required></textarea>
  <button type="submit">Enviar</button>
</form>

<script>
  const form = document.getElementById("guestbook-form");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const formData = new FormData(form);
    const data = Object.fromEntries(formData.entries());

    const response = await fetch("http://localhost:3000/", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    });

    if (response.ok) {
      form.reset();
      location.reload();
    } else {
      alert("Hubo un error al enviar la entrada");
    }
  });
</script>
