---
import BaseLayout from "@/layouts/quizatro.astro"
---

<BaseLayout>
  <h2>Es Cómo Póker, pero Irreal</h2>

  <p style="text-align: center;"><b>QuizAtrO</b> es un juego de cartas educativo inspirado en <a href="https://www.playbalatro.com/">Balatro</a>.</p>

  <ul>
    <li><a href="#como_jugar">¿Cómo Jugar?</a></li>
    <li><a href="#poker_hands">Manos de Póker</a></li>
    <li><a href="#blinds">Ciegas</a></li>
    <li><a href="#jokers">Comodines</a></li>
  </ul>

  <a href="/quizatro">English Version</a>

  <h3 class="#como_jugar">¿Cómo Jugar?</h3>

  <p>Tu objetivo es vencer a la <a href="#boss_blind">ciega jefe</a>. Para pasar una ciega, necesitas acumular la puntuación que te pida la <a href="#blind">ciega</a>. En teoría es facil, ¿no?</p>
  <p>Por cada ciega solo podrás jugar <b>3 manos</b> y <b>4 descartes</b>. Además, cada vez que quieras hacer estos movimientos deberás sacar una <b>carta de pregunta</b>. Si respondes bien, jugarás o descartarás esa mano, sino, se hace lo contrario.</p>
  <p>Cada jugador inicia con una mano de <b>8 cartas</b>. Cada vez que se juege o descarte una carta, se repondrán esas cartas en la mano del jugador.</p>
  <p>Después de cada ciega, se le dará al jugador <b class="yellow">3 dólares</b> para gastar en la tienda. En la tienda podrá comprar hasta <b>2 <a href="#jokers">comodines</a></b>; cuyo efecto puede ayudar al jugador a terminar la ronda</p>

  <h3 id="poker_hands">Manos de Póker</h3>
  <table>
    <thead>
      <tr>
        <th>Mano</th>
        <th>Descripción</th>
        <th>Puntaje</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Carta mas Alta</td>
        <td>Cuando no es posible otra mano. Se usa esta.</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Par</td>
        <td>Dos cartas de misma categoría.</td>
        <td>70</td>
      </tr>
      <tr>
        <td>Doble par</td>
        <td>Dos pares distintos.</td>
        <td>100</td>
      </tr>
      <tr>
        <td>Tercia</td>
        <td>Tres cartas de misma categoría.</td>
        <td>150</td>
      </tr>
      <tr>
        <td>Escalera</td>
        <td>Cinco cartas en orden, no mismo palo.</td>
        <td>250</td>
      </tr>
      <tr>
        <td>Color</td>
        <td>Cinco cartas del mismo palo.</td>
        <td>270</td>
      </tr>
      <tr>
        <td>Full House</td>
        <td>Tercia + par.</td>
        <td>300</td>
      </tr>
      <tr>
        <td>Póker</td>
        <td>Cuatro cartas de misma categoría.</td>
        <td>350</td>
      </tr>
      <tr>
        <td>Escalera Corrida</td>
        <td>Cinco cartas consecutivas del mismo palo.</td>
        <td>450</td>
      </tr>
      <tr>
        <td>Escalera Real</td>
        <td>Straight Flush de A-K-Q-J-10 del mismo palo.</td>
        <td>600</td>
      </tr>
    </tbody>
  </table>

  <h3 id="blinds">Ciegas</h3>

  <p>A diferencia de las ciegas anteriores, en una ciega jefe, no basta con hacer las manos de poker, debes regirte a una norma escogida al azar que dificulta tu ronda.</p>

  <table>
    <thead>
      <tr>
        <th>Icono</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Puntaje</th>
      </tr>
      <tr>
        <td><img src="https://files.edmateo.site/QuizAtrO/Small_Blind.webp" alt="Small_Blind"></td> 
        <td>Ciega Pequeña</td> 
        <td>Sin efectos especiales.</td>
        <td>300</td>
      </tr>
      <tr>
        <td><img src="https://files.edmateo.site/QuizAtrO/Big_Blind.webp" alt="Big_Blind"></td> 
        <td>Ciega Grande</td> 
        <td>Sin efectos especiales.</td>
        <td>450</td>
      </tr>
      <th align="center" colspan="4" id="boss_blind">Ciegas Jefe</th>
      <tr>
        <td><img src="https://files.edmateo.site/QuizAtrO/The_Psychic.webp" alt="The Needle"></td>
        <td>El Psíquico</td>
        <td>Debes jugar 5 cartas. (no todas las cartas necesitan anotar)</td>
        <td rowspan="5">600</td>
      </tr>
      <tr>
        <td><img src="https://files.edmateo.site/QuizAtrO/The_Manacle.webp" alt="The Manacle"></td>
        <td>El Grillete</td>
        <td>-1 de <span class="yellow">tamaño de mano</span></td>
      </tr>
      <tr>
        <td><img src="https://files.edmateo.site/QuizAtrO/The_Plant.webp" alt="The Plant"></td>
        <td>La Planta</td>
        <td>Las cartas de figuras no se pueden usar para formar manos</td>
      </tr>
      <tr>
        <td><img src="https://files.edmateo.site/QuizAtrO/The_Needle.webp" alt="The Needle"></td>
        <td>La Aguja</td>
        <td>Juega solo una mano</td>
      </tr>
      <tr>
        <td><img src="https://files.edmateo.site/QuizAtrO/The_Mark.webp" alt="The Needle"></td>
        <td>La Marca</td>
        <td>Todas las cartas de figuras boca abajo</td>
      </tr>
    </thead>
  </table>

  <h3 id="jokers">Comodines</h3>

  <table border="1" style="width: 100%; text-align: left; border-collapse: collapse;">
    <thead>
      <tr>
        <th>Img</th>
        <th>Name</th>
        <th>Descripción</th>
        <th><span class="yellow">$</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <img src="https://files.edmateo.site/QuizAtrO/Baron.webp" alt="Baron" width="64">
        </td>
        <td>Barón</td>
        <td>Cada rey (K) restante en la mano, da <span class="red">x1.5</span> a la puntuacion.</td>
        <td>2</td>
      </tr>
      <tr>
        <td>
          <img src="https://files.edmateo.site/QuizAtrO/Hack.png" alt="Comediante" width="64">
        </td>
        <td>Comediante</td>
        <td>Si la mano jugada es una <b>Escalera sin figuras</b>. Se multiplica la puntuación final <span class="red">x2</span>.</td>
        <td>3</td>
      </tr>
      <tr>
        <td>
          <img src="https://files.edmateo.site/QuizAtrO/bw.png" alt="Comodin en blanco y negro" width="64">
        </td>
        <td>Comodín en Blanco y Negro</td>
        <td><span class="red">Corazones</span> y <span class="red">Diamantes</span> cuentan como un mismo palo. <br/><span class="green">Espadas</span> y <span class="green">tréboles</span> cuentan como un mismo palo.</td>
        <td>1</td>
      </tr>
      <tr>
        <td>
          <img src="https://files.edmateo.site/QuizAtrO/Luchador.webp" alt="Luchador" width="64">
        </td>
        <td>Luchador</td>
        <td>Vende esta carta para descativar el efecto de la ciega jefe presente.</td>
        <td>1</td>
      </tr>
      <tr>
        <td>
          <img src="https://files.edmateo.site/QuizAtrO/Misprint.webp" alt="Mala impresión" width="64">
        </td>
        <td>Mala Impresión</td>
        <td>Probabilidad de 1/6 de que la mano jugada sea contada como un <b>Royal Flush</b>.</td>
        <td>2</td>
      </tr>
      <tr>
        <td>
          <img src="https://files.edmateo.site/QuizAtrO/Pareidolia.webp" alt="Pareidolia" width="64">
        </td>
        <td>Pareidolia</td>
        <td>Todas las cartas son consideradas <b>figuras</b>.</td>
        <td>1</td>
      </tr>
      <tr>
        <td>
          <img src="https://files.edmateo.site/QuizAtrO/Seltzer.webp" alt="Refresco" width="64">
        </td>
        <td>Refresco</td>
        <td>Multiplica <span class="red">x2</span>. Solo por la siguiente ronda</td>
        <td>2</td>
      </tr>
      <tr>
        <td>
          <img src="https://files.edmateo.site/QuizAtrO/joker-otro.png" alt="Comodín hecho a Mano" width="64">
        </td>
        <td>Comodín hecho a Mano</td>
        <td>Todas las cartas de Pregunta boca arriba.</td>
        <td>3</td>
      </tr>
    </tbody>
  </table>

</BaseLayout>
