---
import BaseLayout from "@/layouts/quizatro.astro"
---

<BaseLayout>
  <h2>It's Like Poker, but Unreal</h2>

  <p style="text-align: center;"><b>QuizAtrO</b> is an educational card game inspired by <a href="https://www.playbalatro.com/">Balatro</a>.</p>

  <ul>
    <li><a href="#how_to_play">How to Play?</a></li>
    <li><a href="#poker_hands">Poker Hands</a></li>
    <li><a href="#blinds">Blinds</a></li>
    <li><a href="#jokers">Jokers</a></li>
  </ul>

  <a href="/quizatro/es">Versión en Español</a>

  <h3 class="#how_to_play">How to Play?</h3>

  <p>Your goal is to beat the <a href="#boss_blind">Boss Blind</a>. To pass a Blind, you must reach the score it requires. Sounds easy, right?</p>
  <p>You only get <b>3 hands</b> and <b>4 discards</b> per Blind. Every time you want to make a move, you must draw a <b>Question Card</b>. If you answer correctly, you play or discard the card. If not, the opposite happens.</p>
  <p>Each player starts with a hand of <b>8 cards</b>. Every time a card is played or discarded, it gets replaced in the player’s hand.</p>
  <p>After each Blind, players get <b class="yellow">3 dollars</b> to spend in the shop. There, they may buy up to <b>2 <a href="#jokers">Jokers</a></b>, whose effects can help during the round.</p>

  <h3 id="poker_hands">Poker Hands</h3>
  <table>
    <thead>
      <tr>
        <th>Hand</th>
        <th>Description</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>High Card</td>
        <td>When no other hand is possible. This one is used.</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Pair</td>
        <td>Two cards of the same Rank.</td>
        <td>70</td>
      </tr>
      <tr>
        <td>Two Pair</td>
        <td>Two different pairs.</td>
        <td>100</td>
      </tr>
      <tr>
        <td>Three of a Kind</td>
        <td>Three cards of the same Rank.</td>
        <td>150</td>
      </tr>
      <tr>
        <td>Straight</td>
        <td>Five cards in order, not same suit.</td>
        <td>250</td>
      </tr>
      <tr>
        <td>Flush</td>
        <td>Five cards of the same suit.</td>
        <td>270</td>
      </tr>
      <tr>
        <td>Full House</td>
        <td>Three of a Kind + Pair.</td>
        <td>300</td>
      </tr>
      <tr>
        <td>Four of a Kind</td>
        <td>Four cards of the same Rank.</td>
        <td>350</td>
      </tr>
      <tr>
        <td>Straight Flush</td>
        <td>Five consecutive cards of the same suit.</td>
        <td>450</td>
      </tr>
      <tr>
        <td>Royal Flush</td>
        <td>Straight Flush of A-K-Q-J-10 in the same suit.</td>
        <td>600</td>
      </tr>
    </tbody>
  </table>

  <h3 id="blinds">Blinds</h3>

  <p>Unlike regular Blinds, Boss Blinds come with a random rule that makes your round harder. Making a Poker Hand is not enough.</p>

  <table>
    <thead>
      <tr>
        <th>Icon</th>
        <th>Name</th>
        <th>Description</th>
        <th>Score</th>
      </tr>
      <tr>
        <td><img src="https://files.edmateo.site/QuizAtrO/Small_Blind.webp" alt="Small_Blind"></td> 
        <td>Small Blind</td> 
        <td>No special effects.</td>
        <td>300</td>
      </tr>
      <tr>
        <td><img src="https://files.edmateo.site/QuizAtrO/Big_Blind.webp" alt="Big_Blind"></td> 
        <td>Big Blind</td> 
        <td>No special effects.</td>
        <td>450</td>
      </tr>
      <th align="center" colspan="4" id="boss_blind">Boss Blinds</th>
      <tr>
        <td><img src="https://files.edmateo.site/QuizAtrO/The_Psychic.webp" alt="The Psychic"></td>
        <td>The Psychic</td>
        <td>You must play 5 cards (not all need to score).</td>
        <td rowspan="5">600</td>
      </tr>
      <tr>
        <td><img src="https://files.edmateo.site/QuizAtrO/The_Manacle.webp" alt="The Manacle"></td>
        <td>The Manacle</td>
        <td>-1 <span class="yellow">hand size</span></td>
      </tr>
      <tr>
        <td><img src="https://files.edmateo.site/QuizAtrO/The_Plant.webp" alt="The Plant"></td>
        <td>The Plant</td>
        <td>Face cards cannot be used to form Poker Hands.</td>
      </tr>
      <tr>
        <td><img src="https://files.edmateo.site/QuizAtrO/The_Needle.webp" alt="The Needle"></td>
        <td>The Needle</td>
        <td>You can only play one Hand.</td>
      </tr>
      <tr>
        <td><img src="https://files.edmateo.site/QuizAtrO/The_Mark.webp" alt="The Mark"></td>
        <td>The Mark</td>
        <td>All face cards are face-down.</td>
      </tr>
    </thead>
  </table>

  <h3 id="jokers">Jokers</h3>

  <table border="1" style="width: 100%; text-align: left; border-collapse: collapse;">
    <thead>
      <tr>
        <th>Img</th>
        <th>Name</th>
        <th>Description</th>
        <th><span class="yellow">$</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <img src="https://files.edmateo.site/QuizAtrO/Baron.webp" alt="Baron" width="64">
        </td>
        <td>Baron</td>
        <td>Each King (K) remaining in your hand gives <span class="red">x1.5</span> to your score.</td>
        <td>2</td>
      </tr>
      <tr>
        <td>
          <img src="https://files.edmateo.site/QuizAtrO/Hack.png" alt="Hack" width="64">
        </td>
        <td>Hack</td>
        <td>If the played Hand is a <b>non-face Straight</b>, score is multiplied <span class="red">x2</span>.</td>
        <td>3</td>
      </tr>
      <tr>
        <td>
          <img src="https://files.edmateo.site/QuizAtrO/bw.png" alt="Black and White Joker" width="64">
        </td>
        <td>Black & White Joker</td>
        <td><span class="red">Hearts</span> and <span class="red">Diamonds</span> count as the same suit.<br/><span class="green">Spades</span> and <span class="green">Clubs</span> count as the same suit.</td>
        <td>1</td>
      </tr>
      <tr>
        <td>
          <img src="https://files.edmateo.site/QuizAtrO/Luchador.webp" alt="Luchador" width="64">
        </td>
        <td>Luchador</td>
        <td>Sell this card to deactivate the current Boss Blind's effect.</td>
        <td>1</td>
      </tr>
      <tr>
        <td>
          <img src="https://files.edmateo.site/QuizAtrO/Misprint.webp" alt="Misprint" width="64">
        </td>
        <td>Misprint</td>
        <td>1/6 chance that your Hand is counted as a <b>Royal Flush</b>.</td>
        <td>2</td>
      </tr>
      <tr>
        <td>
          <img src="https://files.edmateo.site/QuizAtrO/Pareidolia.webp" alt="Pareidolia" width="64">
        </td>
        <td>Pareidolia</td>
        <td>All cards are treated as <b>face cards</b>.</td>
        <td>1</td>
      </tr>
      <tr>
        <td>
          <img src="https://files.edmateo.site/QuizAtrO/Seltzer.webp" alt="Seltzer" width="64">
        </td>
        <td>Seltzer</td>
        <td>Multiplies score <span class="red">x2</span>. Only for the next round.</td>
        <td>2</td>
      </tr>
      <tr>
        <td>
          <img src="https://files.edmateo.site/QuizAtrO/joker-otro.png" alt="Hand-Made Joker" width="64">
        </td>
        <td>Hand-Made Joker</td>
        <td>All Question Cards are face-up.</td>
        <td>3</td>
      </tr>
    </tbody>
  </table>

</BaseLayout>
