---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>404</title>
        <style>
        body {
            font-family: 'Hack';
            background-color: #1d2021;
            color: #ebdbb2;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
            flex-direction: column;
        }

        a,
        a:visited {
            color: #83a598;
            text-decoration-line: none;
        }

        a:hover {
            color: #458588;
            text-decoration-line: underline;
            font-style: italic;
        }
        </style>
	</head>
	<body>
        <div>
            <a href="https://edmateo.site">
                <img src="https://readme-typing-svg.demolab.com?font=Hack&weight=400&size=200&pause=5000&color=EBDBB2&center=true&vCenter=true&random=false&width=750&height=250&lines=404" alt="404" />
            </a>
            <p>Hmmmm... Parece que no hay nada que ver ;)</p>
            <p>Lo mejor será fingir que no haz visto nada</p>
            <p><a href="/">VOLVAMOS A CASA</a></p>
        </div>
    </body>
</html>
