---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css'>
		<title>404</title>
        <style>
        body {
            font-family: 'Hack';
            background-color: #1d2021;
            text-align: center; 
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        h1{
            color: #ebdbb2;
        }

        p{
            color: #ebdbb2;
        }

        a:visited {
            color: #83a598;
        }
        </style>
	</head>
	<body>
        <section class="centro">
            <!---UN SALUDITO A D3V1L--->
            <a href="https://edmateo.site"><img src="https://readme-typing-svg.demolab.com?font=Hack&weight=400&size=200&pause=5000&color=EBDBB2&center=true&vCenter=true&random=false&width=750&height=250&lines=404" alt="404" /></a>
            <p>Hmmmm... Parece que no hay nada que ver ;)</p>
        </section>
    </body>
</html>
