---
import '@/style.css'
---

<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 | EdMateo's Shitty Site</title>
  </head>
  <body>
    <a href="/"><h1>404</h1></a>
  </body>
</html>

<style>
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 8rem;
  }

  a,
  a:hover,
  a:active,
  a:visited {
    color: #ebdbb2; 
    text-decoration: none;
  }
</style>
