---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css'>
		<title>404</title>
        <style>
        body {
            font-family: 'Hack';
            background-color: #1d2021;
            color: #ebdbb2;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            text-align: center;
            flex-direction: column;
            padding: 20px;
        }

        img {
            width: 80%;
            max-width: 750px;
        }

        p {
            margin-top: 20px;
        }

        a,
        a:visited {
            color: #83a598;
            text-decoration-line: none;
        }

        a:hover {
            color: #458588;
            text-decoration-line: underline;
            font-style: italic;
        }
        </style>
	</head>
	<body>
        <div>
            <a href="/">
                <img src="https://readme-typing-svg.demolab.com?font=Hack&size=95&duration=1500&pause=1000&color=EBDBB2&center=true&vCenter=true&random=false&height=100&lines=404" alt="Typing SVG" />
            </a>
            <p>Hmmmm... Parece que no hay nada que ver ;)</p>
            <p>Lo mejor será fingir que no haz visto nada</p>
            <p><a href="/">VOLVAMOS A CASA</a></p>
        </div>
    </body>
</html>

