---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css'>
		<title>404</title>
        <style>
        body {
            font-family: 'Hack';
            background-color: #1d2021;
            color: #ebdbb2;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            text-align: center;
            flex-direction: column;
            padding: 20px;
        }

        img {
            width: 80%;
            max-width: 750px;
        }

        p {
            margin-top: 20px;
        }

        a,
        a:visited {
            color: #83a598;
            text-decoration-line: none;
        }

        a:hover {
            color: #458588;
            text-decoration-line: underline;
            font-style: italic;
        }
        </style>
	</head>
	<body>
        <div>
          <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 400 100"
              style="background-color: #00000000;" width="400px"
              height="100px">

    
              <path id="path0">
              <!-- Single line -->
              <animate id="d0" attributeName="d" begin="0s;d0.end" dur="2500ms"
              fill="remove" values="m0,50 h0 ; m0,50 h400 ; m0,50 h400 ; m0,50
              h0" keyTimes="0;0.32;0.92;1"/> </path> <text
              font-family="&quot;Hack&quot;, monospace"
              fill="#EBDBB2" font-size="95" dominant-baseline="middle" x="50%"
              text-anchor="middle" letter-spacing="normal"> <textPath
              xlink:href="#path0"> 404 </textPath> </text> </svg>
            </a>
            <p>Hmmmm... Parece que no hay nada que ver ;)</p>
            <p>Lo mejor será fingir que no haz visto nada</p>
            <p><a href="/">VOLVAMOS A CASA</a></p>
        </div>
    </body>
</html>

