---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Sobre Mí";
const pageDescription = "Página que habla un poco acerca de Mateo, sus gustos y eso...";
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <h2>Soy un joven promedio que hace cosas que los jóvenes promedio hacen</h2>
  <p><strong>Me llamo Mateo</strong> y en la actualidad, me dedico a programar y <i>hostear</i> basura que posiblemente nadie use. Estoy obsesionado con la privacidad en línea (uso NewPipe) y la libertad digital (fui baneado de Instagram por mandarle porno a un amigo). En fin... Si lees esto, haz tu página web y eso...</p>
  <h2>¿EdMateo?</h2>
  <p>Mucho antes de dedicar todo mi tiempo a mi sitio web, tenía una "identidad digital" muy manchada, vamos, que estaba harto ya del <i>nick</i> que hice en 2017. Así que cuando pensé en el nombre volví a mis orígenes: La gente de la costa atlántica colombiana es muy... Especial (iletrada), así que el acento de la gente de allá suele ser peculiar, generalmente, se refieren al artículo "el" como "ed". Y bueno, Mateo es mi nombre.</p>
  <h2 id="contacto">Contacto</h2>
  <p>Si quieres enviarme mensajes de odio, amenazas de muerte o quieres tener sexrol conmigo, puedes escribirme aquí:</p>
  <ul>
    <li><a href="xmpp:edmateo@edmateo.site"><strong>XMPP</strong> - edmateo@edmateo.site</a></li>
    <li><a href="mailto:mineestasedmateo@proton.me"><strong>Correo</strong> - mineestasedmateo@proton.me</a></li>
  </ul>
  <h2>Limosna</h2>
  <p><strong>Soy un hpta mamerto atenido que no quiere trabajar y quiere todo regalado</strong>. Envíenme plata por Monero, porfi.</p>
  <a href="/monero.txt" style="width: 500px; height: 240px;">
  <img src="https://edmateo.neocities.org/assets/MONERO.webp" alt="44oHR1cLwmhSLF2SF8A34WTxCd29PMsqnWyRZDhFqAvxXj6JUaskaRhWkAsfTnNajTQ1e7gfNsD2EPDV1bTHtRc56cRzH2f">
  </a>
  <p>Si no tienes monero, no hay problema, <a href="#contacto">escríbeme</a> para que te de mi Paypal.</p>
  <h2>Algunos gustos</h2>
  <p>El ser humano necesita acomplejarse con mierda para sentirse alguien, lamentablemente, soy un ser humano, estos son algunos temas que me gustan y de los que quisiera hablar en posts serían:</p>
  <ul>
    <li><strong>La Compu:</strong> Usar la compu es lo que hago el 75% del día, así que le tengo aprecio a lo que hago allí.</li>
    <li><strong>Videojuegos:</strong> Con solo decir que tengo <i>steam</i> a pesar de mis ideales es más que suficiente. Si me encuentran en Genshin Impact, <b>no soy yo!!!</b> Es mi gemelo malvado.</li>
    <li><strong>Hip-Hop/Rap/Nu Metal:</strong> Me hace sentir como un gamín que se traba, atraca todo y a todos. Todo eso sin salir de mi casa, simplemente...</li>
    <li><strong>Jazz:</strong> Desde que toco la batería y ví <i>Whiplash</i>, entendí el por qué a la gente le gusta el Jazz, cada nota que sale de un instrumento tocando Jazz me genera un orgasmo.</li>
  </ul>
  <h2 id="cosas-que-odio">Cosas que odio</h2>
  <p>La gran mayoría de estas las cosas son definidas por prejuicios propios y no deberían ser tomadas en serio. Si se ofenden, cómanme el pipí, pero con cariño <3</p>
  <ul>
    <li><strong>Hombres Trans:</strong> Putas marimachos de mierda, cada que veo a un puto hombre trans me dan ganas de encenderlo a traques a ver si se sigue creyendo tan macho de lo que quiere aparentar, es que todas son tan putas iguales, se visten como Justin Bieber cuando era violado por el negro de Diddy. Si eres hombre Trans, no eres bienvenido aquí.</li>
    <li><strong>Profesores que creen que los estudiantes son sus amigos:</strong> Unas porquerías, me genera inseguridad participar en clase porque enseguida el cabrón creerá que soy mas listo que los energúmenos del salón y querrá elogiarme o exigirme más cada puto rato. Malparidos confianzudos de mierda, yo hago parte del trabajo de ustedes y ustedes hacen parte de mi formación.</li>
    <li><strong>Reggueaton moderno:</strong> Creo que no es necesario explicar esto.</li>
    <li><strong>Normies:</strong> "Ay... Pero en Linux necesitas 6969 comandos para cambiar tu fondo de pantalla" <strong>CÓMEME LOS HUEVOS!!!</strong></li>
    <li><strong>RedPilleros:</strong> No, hijo de puta, con un puto corte de pelo no se va a solucionar mi vida, eres un retrasado que solo sabes replicar lo que dice LlaDos.</li>
    <li><strong>Instagram: </strong>Putos sionistas de mierda, ¿como me van a banear por mandarle <a href="http://files.edmateo.site/Gem/canaima.mp4" target="_blank">el vídeo de la Canaima</a> a un amigo por DM?</li>
  </ul>
</BaseLayout>
