---
import BaseLayout from '@/layouts/base.astro';

const pageTitle = "Sobre Mí";
const pageDescription = "Conoce un poco mejor a la peste que maneja este sitio.";
---

<BaseLayout {pageTitle} {pageDescription}>
  <h2>Soy un joven promedio que hace cosas que los jóvenes promedio hacen</h2>
  <p><b>Me llamo Mateo</b> y en la actualidad, me dedico a programar y a <i>hostear</i> basura que posiblemente nadie use. Si lees esto, te invito a crear. No dejar que una big-tech judía controle lo que haces ni nada de eso... BORRA TODO y vuelve a empezar.</p>

  <h2>¿EdMateo?</h2>
  <p>Mucho antes de usar este nickname, tenía uno bien largo y feo. Un día me cancelaron en Twitter y me harté de usarlo en eso, me puse a pensar, por un momento volví a mis orígenes: la gente en la Costa Atlántica colombiana es muy... Especial (iletrada), el acento de la gente de allá es muy peculiar, generalmente, cuando dicen "el"; suena como "ed". Y bueno, Mateo...</p>

  <h2 id="contacto">Contacto</h2>
  <p>Si quieres enviarme mensajes odio, amenazas de muerte, tener sexrol conmigo o simplemente mandarme un mensaje, puedes escribirme aquí:</p>
  <ul>
    <li><a href="xmpp:edmateo@edmateo.site"><b>XMPP</b> - edmateo@edmateo.site</a></li>
    <li>
      <a href="mailto:edmateo@incel.email"><b>Correo</b> - edmateo@incel.email</a>
      <ul>
        <li><a href="/edmateo.asc">CLAVE PGP - 214B 37D8 F32E A4F5 4A40  D479 69F8 9B1D BDC8 7E10</a></li>
      </ul>
    </li>
  </ul>

  <h2 class="green">Algunos gustos</h2>
  <p>El ser humano necesita acomplejarse con mierda para sentirse alguien, lamentablemente, soy un ser humano. Éstos son algunos temas que me gustan y de los que quisiera hablar en <span class="green">posts posteriores</span> serían:</p>
  <ul>
    <li><b>La PC:</b> Usa la PC es lo que hago el <span class="green">75%</span> del día, así que que de cierto modo, le tengo aprecio al tiempo que desperdicio ahí.</li>
    <li><b class="green">Balatro:</b> <a href="https://www.playbalatro.com/">Balatro</a> no es solo un juego de cartas, es un estilo de vida. Respiro y tomo Balatro. Si tuviera un hijo lo llamaría "Full House" y si tuviera dos les pondría "Doble" y "Par" para mejorarlos a nivel 18 y que rompan las ligas de jefe cuando sean adultos. Brindo por Balatro, Como por Balatro, este me hizo mejor persona...</li>
    <li><b>Hip-Hop/Rap/Nu Metal:</b> Me hace sentir como un gamín que se traba, ha atracado a 20 locales en una semana ya... Nada eso... <span class="green">Soy mongólico</span>, por eso me gusta.</li>
    <li><b>Jazz:</b> El Jazz <span class="green">es simplemente un orgasmo al oído</span>. Si no lo escuchas, deberías.</li>
  </ul>

  <h2 class="red">Cosas que odio</h2>
  <p><span class="red">La gran mayoría de estas cosas son definidas por mis propios prejuicios y no deberían ser tomadas en serio.</span> Si se ofenden, cómanme el pipí, pero con cariño. &lt;3</p>
  <ul>
    <li><b>RedPilleros:</b> Son simplemente retrasados.</li>
    <li><b>Reggueaton Moderno:</b> Creo que no es necesario explicar esto.</li>
    <li><b>Normies:</b> "Ay... Pero en Linux necesitas hacer 69696969 comandos para cambiar el fondo de pantalla" <b class="red">CÓMEME LOS HUEVOS</b>.</li>
  </ul>
</BaseLayout>
