---
import BaseLayout from '@/layouts/base.astro';

const pageTitle = "Aves";
const pageDescription = "Retratando la cruda realidad urbana de los pájaros.";
---
<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <iframe id="myFrame" src="https://picgeon.edmateo.site" style="width:100%; border:none;" scrolling="no"></iframe>
  <span style="display: block; text-align: center;">Miniaturas Generadas por <a href="https://github.com/ImnotEdMateo/picgeon">PicGeon</a>.</span>

<script>
  function sendHeight() {
    const height = document.documentElement.scrollHeight;
    parent.postMessage({ type: "resize", height }, "https://edmateo.site"); // cambia al origen real
  }

  window.addEventListener("load", sendHeight);

  new ResizeObserver(() => {
    sendHeight();
  }).observe(document.documentElement);
</script>
</BaseLayout>
