---
import BaseLayout from '@/layouts/base.astro';

const pageTitle = "Aves";
const pageDescription = "Retratando la cruda realidad urbana de los pájaros.";
---
<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <iframe id="galeria" src="https://picgeon.edmateo.site" style="width:100%; border:none;" scrolling="no"></iframe>
  <span style="display: block; text-align: center;">Miniaturas Generadas por <a href="https://github.com/ImnotEdMateo/picgeon">PicGeon</a>.</span>
  <span style="display: block; text-align: center;">Si no puedes verlo entra a <a href="https://picgeon.edmateo.site">PicGeon</a> o al <a href="https://files.edmateo.site/AVES">Directorio</a>.</span>

<script>
  window.addEventListener("message", (event) => {
    // Asegúrate de validar el origen por seguridad
    if (event.origin !== "https://picgeon.edmateo.site") return;

    // Encuentra el iframe que muestra la galería
    const iframe = document.getElementById("galeria");

    // Si el mensaje contiene una altura válida, ajústala
    if (event.data.type === "resize" && event.data.height) {
      iframe.style.height = event.data.height + "px";
    }
  });
</script>
</BaseLayout>
