---
import BaseLayout from '@/layouts/base.astro';
import PostsList from '@/components/postsList.astro'

const pageTitle = "Blog"
const pageDescription = "Por si no te has dado cuenta. EdMateo tiene un blog."
---

<BaseLayout {pageTitle} {pageDescription}>
  <p>He aquí una compilación de toda la basura que he posteado. En el caso de querer suscribirte, <a href="/rss.xml">tienes mi Feed RSS</a>.</p>

  <PostsList />
</BaseLayout>
