---
import { getCollection } from 'astro:content';
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = await getCollection('blog');
posts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());

const pageTitle = "Blog";
const pageDescription = "Por si no te has dado cuenta, EdMateo tiene un Blog.";
---
<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <p>He aquí una compilación de todos mis posts. Si quieres suscribirte, aquí tienes mi <a href="/rss.xml">Feed RSS</a></p>
  <ul>
    {posts.map((post) => (
      <li>
        <span>[{post.data.pubDate.toLocaleDateString('es-ES', {
          day: 'numeric',
          month: 'short',
          year: 'numeric'
        })}] - </span>
        <a href={`/post/${post.slug}`}>
          {post.data.title}
        </a>
      </li>
    ))}
  </ul>
</BaseLayout>

