---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getPosts } from '../utils/getPosts.js';

const allPosts = getPosts();
const pageTitle = "Blog";
const pageDescription = "Por si no te haz dado cuenta, Mateo tiene un blog";
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
    <p>He aquí una compilación de todos mis post, están ordenados en orden cronológico y eso...</p>
    <p>Si quieres suscribirte, tienes el <a href="/rss.xml">RSS</a></p>
    <ul>
        {allPosts.map(post => (
        <li>
            [{post.pubDate ? new Date(post.pubDate).toLocaleDateString('es-ES', { day: '2-digit', month: '2-digit', year: 'numeric' }) : 'No hay fecha'}] - 
            <a href={`/post/${post.slug}`}>{post.title}</a>
        </li>
        ))}
    </ul>
</BaseLayout>
