---
import BaseLayout from '@/layouts/base.astro';
import Entry from '@/components/guestbook/entry.astro';
import GuestForm from '@/components/guestbook/form.astro'

const pageTitle = "GuestBook";
const pageDescription = "Ahora puedes dejar tus mensajes de odio aquí, en este GuestBook programado por mí mismo";
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <p>Desde hace mucho tenía ganas de montar un libro de firmas, así para saber si este sitio lo mira alguien o si solo divago con mis pensamientos. Este GuestBook lo programé yo mismo, es <a href="https://github.com/ImnotEdMateo/guestbook">abierto</a> y <strong>funciona con base de datos</strong>.</p>
  <GuestForm />
  <Entry server:defer><h1 slot="fallback">DEBES ACTIVAR JAVASCRIPT PARA PODER VER LAS ENTRADAS</h1></Entry>
</BaseLayout>
