---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Sitio de Mateo";
---

<BaseLayout pageTitle={pageTitle}>
    <p>Este sitio solo tiene una función, ser el "refugio" personal de <a href="./about.html">un tal Mateo</a>. A pesar de esto, su código fuente está abierto a todo el mundo en <a href="https://codeberg.org/Imnot_EdMateo/website">este repositorio de codeberg</a>.</p>
</BaseLayout>
