---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "EdMateo's Shitty Site";
const pageDescription = "Este sitio es el refugio personal de un tal Mateo, donde comparte basura y sus vivencias.";
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <p>El futuro es incierto, pero siempre hay que imaginarse el peor escenario. Lo mas probable es que no pueda seguir manteniendo este sitio web. En 4 meses, tengo que pagar el dominio y efectivamente no tengo nada. Además, mi cuenta bancaria fue bloqueada. Si lees esto, tienes mi permiso de selfhostear este sitio web, el código fuente está en <a href="https://github.com/ImnotEdMateo/website">GitHub</a>.</p>
</BaseLayout>
