---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
posts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());

const pageTitle = "EdMateo's Shitty Site";
const pageDescription = "Este sitio es el refugio personal de un tal Mateo, donde comparte basura y sus vivencias.";
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <p>"La vida es como una caja de bombones", y a veces la vida nos da un respiro cuando menos lo esperamos. Yo pensaba que este sitio se acabar칤a en unos meses, pero 춰sorpresa! Mi mami intervino y me dio el empuj칩n que necesita. Aunque las circunstancias sigan siendo tan impredecibles como siempre, <b>este bodrio en la web sigue vivo!!</b> (al menos hasta 2026).

  <ul>
    <li>Gracias mami por dejarme postear mierda otro a침o m치s. 游봋</li>
    <li>Gracias a todos los que me dan ideas y apoyan esto.</li>
    <li>Gracias a ti por leer esto.</li>
  </ul>

  <p>Recuerda, este sitio web es <b>Software Libre</b> y est치 disponible en <a href="https://github.com/ImnotEdMateo/website">GitHub</a>.</p>
  
  <p><a href="//ring.cidoku.net/prev?id=4">Anterior</a> -Parte del <a href="//ring.cidoku.net/">Anillo de los Lun치ticos</a>- <a href="//ring.cidoku.net/next?id=4">Siguiente</a></p>

  <marquee behavior="" direction="" style="margin: 20px 0;" scrollamount="10"> 
    <b>
      <a href="xmpp:chat@chat.edmateo.site?join">칔NETE AL MUC DE XMPP</a>
      <span>|</span>
      <a href="http://usb.edmateo.site">SUBE TU MIERDA A MI USB</a>
      <span>|</span>
      <a href="http://files.edmateo.site">ARCHIVOS P칔BLICOS AC츼</a>
    </b>
  </marquee>

  <a href='https://compliance.conversations.im/server/edmateo.site'><img src='https://compliance.conversations.im/badge/edmateo.site'></a> 

  <section>
    <h2>Posts recientes</h2>
    <ul>
      {posts.slice(0, 4).map(post => (
      <li>
        <span>[{post.data.pubDate.toLocaleDateString('es-ES', {
            day: 'numeric',
            month: 'short',
            year: 'numeric'
          })}] - </span>
          <a href={`/post/${post.slug}`}>
            {post.data.title}
          </a>
      </li>
      ))}
    </ul>
  </section>

  <section>
    <h2>Actualizaciones</h2>
    <ul>
      <li>[01/02/2025] - He redise침ado el sitio, bueno, escrib칤 todo de cero pero se entiende la idea.</li>
      <li>[11/12/2024] - He montado un servidor de XMPP!!! Registros abiertos por este dominio.</li>
      <li>[02/06/2024] - Oficialmente, Google ya index칩 mi sitio en su motor de b칰squeda.</li>
      <li>[04/05/2024] - El sitio se ha adaptado a pantallas peque침as.</li>
      <li>[01/05/2024] - Se ha reescrito todo el sitio a AstroJS.</li>
    </ul>
  </section>

  <section>
    <h2>Un V칤deo</h2>
    <iframe style="aspect-ratio: 16 / 9;" allowfullscreen src="https://www.vidlii.com/embed?v=ShNMVhop0Aq" frameborder="0" width="640" height="380"></iframe>
  </section>
</BaseLayout>
