---
import BaseLayout from "@/layouts/base.astro"
import Lunaticos from "@/components/lunaticos.astro"

const pageDescription = "Este sitio es el refugio personal de EdMateo, donde comparte basura y sus vivencias.";
---

<BaseLayout pageDescription={pageDescription}>
  <p>Bienvenido a mi <b>bodrio en la web</b>, un rincón donde escupo ideas, pensamientos y en general, cualquier huevonada sin temor a la censura de una big-tech judía que controle mis pensamientos. <a href="https://github.com/ImnotEdMateo/website">Este sitio es de código abierto</a>, si algo no te gusta, puedes forkearlo, selfhostearlo o llenarme el repo de PRs. Nada eso...</p>

  <Lunaticos />

  <marquee behavior="" direction="">aaaaaaaaaaaaaaaaaa</marquee>
</BaseLayout>
