<style>
footer {
  text-align: center;
}

footer img {
  width: 88px;
  height: 31px;
}

footer a {
  text-decoration: none !important;
}

.idkman:hover {
  text-decoration: underline !important;
}
</style>

<footer>
  <a href="http://edmateo.site"><img src="/static/buttons/edmateo.gif" alt="edmateodotsite" title="Añade este botón a tu sitio porfi"></a>
  <img src="/static/buttons/co_flag.gif" alt="colombia" title="¡Oh, gloria inmarcesible!">
  <a href="https://youtu.be/wJWksPWDKOc?si=GqSLHr_6KBY9FNj7"><img src="/static/buttons/stage1.gif" alt="It's just a burning memory..." title="It's just a burning memory..."></a>
  <a href="https://www.vidlii.com/watch?v=OwkrlZdjv6w"><img src="/static/buttons/discord-no-way.gif" alt="trooncord" title="Trooncord">
  <a href="https://www.vidlii.com/user/edmateo"><img src="/static/buttons/vidlii.png" alt="vidlii" title="Suscríbete a mi canal de VidLii"></a>
  <a href="https://neovim.io/"><img src="/static/buttons/nvim.png" alt="nvim" title="Mejor mierda"></a>
  <a href="https://astro.build"><img src="/static/buttons/astro-button.png" alt="astro" title="El mejor Framework"></a>
  <a href="https://httpd.apache.org/"><img src="/static/buttons/apache.gif" alt="apache" title="FUCK NGINX!!!"></a>
  <p><a class="idkman" href="https://edmateo.site">edmateo.site</a> 2024-2025</p>
</footer>
