<footer>
  <div>
    <marquee scrollamount="20" direction="right">
      <a href="http://edmateo.site"><img src="/static/buttons/edmateo-site.webp" alt="edmateo.site"></a>
      <a href="https://www.vidlii.com/watch?v=OwkrlZdjv6w"><img src="/static/buttons/discord-no-way-2.gif" alt="Discord? No way!"></a>
      <span><img src="/static/buttons/co_flag.gif" alt="CONGOLOMBIA"></span>
      <a href="https://astro.build/"><img src="/static/buttons/astro-button.png" alt="Powered by Astro"></a>
      <a href="https://neovim.io/"><img src="/static/buttons/neovim.png" alt="Made with Neovim"></a>
      <a href="https://creativecommons.org/licenses/by-sa/4.0/"><img src="/static/buttons/CC_BY_SA.webp" alt="CC BY SA"></a>
    </marquee>
  </div>
</footer>
