<footer>
  <a href="//edmateo.site"><img src="/static/buttons/edmateo.gif" alt="edmateodotsite" title="Añade este botón a tu sitio porfi"></a>
  <img style="cursor: pointer;" src="/static/buttons/co_flag.gif" alt="colombia" title="¡Oh, gloria inmarcesible!">
  <a target="_blank" href="https://youtu.be/wJWksPWDKOc?si=GqSLHr_6KBY9FNj7"><img src="/static/buttons/stage1.gif" alt="It's just a burning memory..." title="It's just a burning memory..."></a>
  <a target="_blank" href="https://www.vidlii.com/watch?v=OwkrlZdjv6w"><img src="/static/buttons/discord-no-way.gif" alt="trooncord" title="Trooncord">
  <a target="_blank" href="https://www.vidlii.com/user/edmateo"><img src="/static/buttons/vidlii.png" alt="vidlii" title="Suscríbete a mi canal de VidLii"></a>
  <a target="_blank" href="https://neovim.io/"><img src="/static/buttons/nvim.png" alt="nvim" title="Mejor mierda"></a>
  <a target="_blank" href="https://astro.build"><img src="/static/buttons/astro-button.png" alt="astro" title="El mejor Framework"></a>
  <a target="_blank" href="//httpd.apache.org/"><img src="/static/buttons/apache.gif" alt="apache" title="FUCK NGINX!!!"></a>
  <p><strong>
    <a href="//edmateo.site" class="red">e</a><a href="//edmateo.site" class="orange">d</a><a href="//edmateo.site" class="yellow">m</a><a href="//edmateo.site" class="green">a</a><a href="//edmateo.site" class="blue">t</a><a href="//edmateo.site" class="purple">e</a><a href="//edmateo.site" class="blue">o</a><span>.</span><a href="//edmateo.site" class="green">s</a><a href="//edmateo.site" class="yellow">i</a><a href="//edmateo.site" class="orange">t</a><a href="//edmateo.site" class="red">e</a>
    2024-2025
  </strong></p>
</footer>

<style>
footer {
  text-align: center;
}

footer img {
  width: 88px;
  height: 31px;
}

footer a {
  text-decoration: none !important;
}

.idkman:hover {
  text-decoration: underline !important;
}
</style>
