<style>
  header {
    margin: 0;
    padding-top: 25px;
    width: 100%;
    text-align: center;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: default;
  }

  nav ul li {
    display: inline-block;
    margin: 0.5rem 1rem;
  }

  nav ul a,
  nav ul a:visited {
    color: #fabd2f;
    font-size: 15pt;
    font-weight: bold;
    text-decoration: none;
  }

  nav ul a:hover {
    color: #d79921;
  }
</style>

<header>
  <nav>
    <ul>
      <li><a href="/">INICIO</a></li>
      <li><a href="/blog">BLOG</a></li>
      <li><a href="/radio">RADIO</a></li>
      <li><a href="/links">ENLACES</a></li>
      <li><a href="/about">SOBRE MÍ</a></li>
      <li><a href="/guestbook">GUESTBOOK</a></li>
    </ul>
  </nav>
</header>
