<header>
  <nav>
    <ul>
      <li><a href="#">INICIO</a></li>
      <li><a href="#">BLOG</a></li>
      <li><a href="#">SOBRE MÍ</a></li>
      <li><a href="#">RADIO</a></li>
      <li><a href="#">ENLACES</a></li>
      <li><a href="#">GUESTBOOK</a></li>
    </ul>
  </nav>
</header>
