<section class="navigation">
    <nav>
        <ul>
            <a href="/">INICIO</a>
            <a href="/blog">BLOG</a>
            <a href="/radio">RADIO</a>
            <a href="/links">ENLACES</a>
            <a href="/about">SOBRE MI</a>
        </ul>    
    </nav>
</section>
