---
---

<div class="navigation">
  <nav>
    <ul>
        <li><a href="/">INICIO</a></li>
        <li><a href="/blog">BLOG</a></li>
        <li><a href="/radio">RADIO</a></li>
        <li><a href="/webring">WEBRING</a></li>
        <li><a href="/about">SOBRE MI</a></li>
        <li><a href="/guestbook">GUESTBOOK</a></li>
    </ul>    
  </nav>
</div>
