<section class="navigation">
        <ul>
            <a href="/">INICIO</a>
            <a href="/blog">BLOG</a>
            <a href="/links">ENLACES</a>
            <a href="/about">SOBRE MI</a>
        </ul>    
        <div id="pins">
            <a href="https://spyware.neocities.org/articles/discord">
                <img class="icon" src="https://spyware.neocities.org/images/discord-no-way-2.gif" alt="Discord? No Way!">
            </a>
            <a href="https://www.vim.org">
                <img class="icon" src="https://edmateo.neocities.org/src/vim.vialle.love.anim.gif" alt="I <3 vim">
            </a>
        </div>
</section>
