<div class="pins">
    <a href="https://edmateo.site">
        <img class="icon" src="/buttons/button.png" alt="edmateo.site">
    </a>
    <a href="https://landchad.net/">
        <img class="icon" src="/buttons/landchad.gif" alt="Landchad.net">
    </a>
    <a href="https://spyware.neocities.org/articles/discord">
        <img class="icon" src="/buttons/discord-no-way-2.gif" alt="Discord? No Way!">
    </a>
    <a href="https://www.vim.org">
        <img class="icon" src="/buttons/ilovevim.gif" alt="I <3 vim">
    </a>
    <a href="/assets/neofetch.txt">
        <img class="icon" src="/buttons/debian.gif" alt="Powered by debian">
    </a>
</div>

