<div class="pins">
    <a href="https://edmateo.site">
        <img class="icon" src="/img/buttons/button.png" alt="edmateo.site">
    </a>
    <a href="https://spyware.neocities.org/articles/discord">
        <img class="icon" src="https://spyware.neocities.org/images/discord-no-way-2.gif" alt="Discord? No Way!">
    </a>
    <a href="https://www.vim.org">
        <img class="icon" src="/img/buttons/ilovevim.gif" alt="I <3 vim">
    </a>
    <a href="https://landchad.net/">
        <img class="icon" src="/img/buttons/landchad.gif" alt="I <3 vim">
    </a>
    <a href="/assets/neofetch.txt">
        <img class="icon" src="/img/buttons/debian.gif" alt="I <3 vim">
    </a>
</div>

