<div class="pins">
    <a href="https://edmateo.site">
        <img class="icon" src="/buttons/edmateo-site.webp" alt="edmateo.site">
    </a>
    <a href="https://spyware.neocities.org/articles/discord_es">
        <img class="icon" src="/buttons/discord-no-way-2.gif" alt="Discord? No Way!">
    </a>
    <a href="/assets/neofetch.txt">
        <img class="icon" src="/buttons/debian.gif" alt="Powered by debian">
    </a>
    <a href="https://www.vim.org">
        <img class="icon" src="/buttons/ilovevim.gif" alt="I <3 vim">
    </a>
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
        <img class="icon" src="/buttons/creative-commons.webp" alt="BY-NC-SA">
    </a>
</div>

