<div class="pins">
  <a href="https://edmateo.site">
    <img src="/buttons/edmateo-site.webp" alt="edmateo.site">
  </a>
  <a href="https://spyware.neocities.org/articles/discord_es">
    <img src="/buttons/discord-no-way-2.gif" alt="Discord? No Way!">
  </a>
  <span>
    <img src="/buttons/co_flag.gif" alt="Made in Colombia">
  </span>
  <a href="https://www.vim.org">
    <img src="/buttons/ilovevim.gif" alt="I <3 vim">
  </a>
  <a href="https://creativecommons.org/licenses/by-sa/4.0/">
    <img src="/buttons/CC_BY_SA.webp" alt="BY-SA">
  </a>
</div>

