<div class="pins">
    <a href="https://edmateo.site">
      <img src="/buttons/edmateo-site.webp" alt="edmateo.site">
    </a>
    <a href="https://spyware.neocities.org/articles/discord_es">
      <img src="/buttons/discord-no-way-2.gif" alt="Discord? No Way!">
    </a>
    <a href="/assets/neofetch.txt">
      <img src="/buttons/debian.gif" alt="Powered by debian">
    </a>
    <a href="https://www.vim.org">
      <img src="/buttons/ilovevim.gif" alt="I <3 vim">
    </a>
    <a href="https://creativecommons.org/licenses/by-sa/4.0/">
      <img src="/buttons/CC_BY_SA.webp" alt="BY-SA">
    </a>
</div>

