<section>
  <b><p id="radioSong">Espera...</p></b>
  <audio controls>
    <source src="https://radio.edmateo.site/stream" type="audio/mp3" />
  </audio>
</section>

<script>
  const fetchRadioSong = async () => {
    try {
      const response = await fetch('https://radio.edmateo.site/status-json.xsl');
      const { icestats: { source } } = await response.json();
      const sources = Array.isArray(source) ? source : [source];
      const { title = '' } = sources.find(({ listenurl }) => listenurl.includes('/stream')) || {};
      const [artist, song] = title.split(' - ');
      const formattedSong = song && artist ? `${song} - ${artist}` : title || 'Nada';

      document.getElementById('radioSong').textContent = `Sonando: ${formattedSong}`;
    } catch (error) {
      console.error('Error fetching radio song:', error);
      document.getElementById('radioSong').textContent = 'Error fetching song information';
    }
  };

  fetchRadioSong();
  setInterval(fetchRadioSong, 10000);
</script>
