---
import { getCollection} from 'astro:content';

const { data } = Astro.props
const items = await getCollection(data);
---

<ul>
  {items.map((item) => (
    <li key={item.id}>
      {item.data.title} - {item.data.artist}
    </li>
  ))}
</ul>
