<section>
  <b><p id="radioSong">Espera...</p></b>
  <audio controls>
    <source src="https://radio.edmateo.site/stream" type="audio/mp3" />
  </audio>
</section>

<script>
  const fetchRadioSong = async () => {
    try {
      const response = await fetch('https://radio.edmateo.site/status-json.xsl');
      const data = await response.json();
      const songInfo = data.icestats.source.title;
      
      // Dividir la cadena en artista y canci칩n
      const [artist, song] = songInfo.split(' - ');
      
      // Reordenar para mostrar "Canci칩n - Artista"
      const formattedSong = song && artist ? `${song} - ${artist}` : songInfo || 'Nada';
      
      document.getElementById('radioSong').textContent = `Sonando: ${formattedSong}`;
    } catch (error) {
      console.error('Error fetching radio song:', error);
      document.getElementById('radioSong').textContent = 'Error fetching song information';
    }
  };

  // Llamar a la funci칩n inmediatamente al cargar la p치gina
  fetchRadioSong();

  // Actualizar cada 10 segundos (10000 ms)
  setInterval(fetchRadioSong, 10000);
</script>
