/*:root (MODO CLARO [Algun día :')']) {
  --font-primary: 'Hack', monospace;
  --color-background: #f9f5d7;
  --color-text: #282828;
  --color-link: #427b58;
  --color-link-hover: #689d6a;
  --color-selection-bg: #bdae93;
  --color-selection-text: #282828;
  --color-nav: #427b58;
  --color-nav-hover: #83a598;
  --transition-duration: 1s;
}*/

:root {
  --font-primary: 'Hack', monospace;
  --color-background: #1d2021;
  --color-text: #ebdbb2;
  --color-link: #83a598;
  --color-link-hover: #458588;
  --color-selection-bg: #655c54;
  --color-selection-text: #e6d6ae;
  --color-nav: #458588;
  --color-nav-hover: #d3969b;
  --color-code-bg: #32302f;
  --color-code-text: #bdae93;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-background);
}

::selection {
  color: var(--color-selection-text);
  background-color: var(--color-selection-bg);
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.navigation {
  padding-top: 5px;
  position: fixed;
}

.navigation ul {
  padding-left: 15px;
  z-index: 1;
  top: 65px;
  overflow-x: hidden;
  text-align: left;
  width: 150px;
  font-size: 22px;
  line-height: 50px;
  list-style: none;
}

nav ul a,
nav ul a:visited {
  display: block;
  color: var(--color-nav);
  text-decoration: none;
}

nav ul a:hover {
  color: var(--color-nav-hover);
  font-style: italic;
  text-decoration: none;
}

nav ul {
  padding: 0;
  list-style-type: none;
}

main {
  padding: 5px 180px 0 180px;
  overflow-y: auto;
  color: var(--color-text);
}

main a,
main a:visited {
  color: var(--color-link);
  text-decoration-line: none;
  word-break: break-word;
  overflow-wrap: anywhere;
}

main a:hover {
  color: var(--color-link-hover);
  text-decoration-line: underline;
  font-style: italic;
}

main p {
  line-height: 1.4; 
  margin-bottom: 1rem;
}

main ul {
  padding-left: 15px;
}

.pins {
  width: auto;
  right: 0;
  display: flex;
  flex-direction: column;
  margin: 20px 2.5rem;
  position: fixed;
}

.pins img {
  max-width: 100%;
  width: 88px;
  height: auto; 
}

img {
  max-width: 100%;
  max-height: 400px;
  aspect-ratio: auto;
}

code {
  background-color: var(--color-code-bg);
  border-radius: 4px;
  padding: 0 4px;
  color: var(--color-code-text);
  font-family: 'Courier New', Courier, monospace;
}

blockquote {
  border-left: 4px solid #00adb5; /* Color llamativo para el borde */
  background-color: #1f1f1f; /* Fondo sutil */
  margin: 1.5em 10px;
  padding: 10px 20px;
  font-style: italic;
  color: #f8f8f2; /* Color claro para el texto */
}

blockquote p {
  margin: 0;
}

blockquote::before {
  content: "“"; /* Comillas grandes estilizadas */
  font-size: 2em;
  color: #00adb5;
  line-height: 0.1em;
  margin-right: 10px;
  vertical-align: -0.4em;
}

blockquote::after {
  content: "”";
  font-size: 2em;
  color: #00adb5;
  line-height: 0.1em;
  margin-left: 10px;
  vertical-align: -0.4em;
}

@media screen and (max-width: 600px) {
  .navigation {
    display: flex;
    justify-content: center;
    width: 100%;
    position: static;
  }

  .navigation ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    padding: 0;
    gap: 5px;
    column-gap: 0;
  }

  .navigation li {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 992px) {
  .wrapper {
    flex-direction: column;
  }

  .navigation ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px 50px;
    padding-left: 0;
    width: 100%;
  }

  .navigation {
    width: 100%;
    text-align: center;
    position: static;
  }

  main {
    padding: 10px 0 10px 5px;
  }

  main img,
  main iframe {
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }

  .pins {
    position: relative;
    align-self: center;
    flex-direction: row;
    gap: 5px;
  }
}
