html,
body {
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
}

body {
  background: #322f2e url('/static/wallpaper.png') no-repeat center;
  background-size: 100%;
}

.wrapper {
  display: flex;
  flex-flow: column;
  margin: 10px;
  height: 98%;
}

::selection {
  background-color: #655c54;
  color: #e6d6ae;
}

main {
  font-family: Hack;
  overflow: auto;
  color: #ebdbb2;
  padding: 10px 5% 0 35px;
  margin: 10px 0;
  background: #1d2021;
  flex: 1 1 auto;
  opacity: 0.95;
  font-size: 12pt;
}

main img {
  max-width: 100%;
  height: auto;
}

iframe {
  aspect-ratio: 4 / 3;
  max-width: 100%;
  height: auto;
}

main a,
main a:visited {
  color: #83a598;
  text-decoration: none;
}

main li {
  margin-bottom: 10px;
}

main a:hover {
  color: #458588;
  font-style: italic;
  text-decoration: underline;
}

main ul { 
  padding-left: 20px;
}

footer {
  margin-bottom: 10px;
}

footer img {
  width: 88px;
  height: 31px;
  padding: 0 10px;
}

footer,
header {
  background-color: #1d2021;
  padding: 10px 0;
  flex: 0 1 auto;
  opacity: 0.95;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 10px;
  font-size: 15px;
  padding: 10px 15px;
}

nav ul li span {
  text-decoration: none;
  color: #928374;
}

nav ul li a,
nav ul li a:visited {
  text-decoration: none;
  color: #ebdbb2;
}


nav ul li a:hover {
  color: #fabd2f;
}

@media screen and (max-width: 992px) {
  main {
    padding: 5px 20px 50px 10px;
  } 
}

@media screen and (max-width: 720px) {
  body {
    height: 100%;
    background-size: 200%;
  }

  .wrapper {
    margin: 0;
    height: 100%;
    overflow: auto;
  }

  header {
    font-size: 100px;
  }

  nav li {
    font-size: 22px;
  }

  main {
    overflow: visible;
    margin: 0;
    padding: 10px 8px;
    font-size: 11pt;
  }

  nav ul {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Hack;
  }

  nav ul li {
    margin: 0 10px;
    font-size: 20px;
    padding: 10px 15px;
  }

  header,
  footer {
    flex: 1 1 auto;
  }
}

