body {
  font-family: 'Segoe UI', sans-serif;
  background: #1d2021;
  margin: 0;
  padding: 0;
}

/* Shitty CRT effect */
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:
    linear-gradient(rgba(18,16,16,0) 50%, rgba(0,0,0,0.25) 50%),
    linear-gradient(90deg, rgba(255,0,0,0.06), rgba(0,255,0,0.02), rgba(0,0,255,0.06));
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  z-index: 999;
}

::selection {
  background-color: #655c54;
  color: #e6d6ae;
}

a:hover {
  text-decoration: underline !important;
}

main, footer {
  color: #ebdbb2;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

main h1 {
  text-align: center;
}

main ul { 
  padding-left: 20px;
}

main li, main summary {
  margin-bottom: 10px;
}

main a,
footer a,
main a:visited,
footer a:visited {
  color: #83a598;
  text-decoration: none;
}

main a:hover,
footer a:hover {
  color: #458588;
}

article img {
  max-width: 100%;
  height: auto;
}

/* Color classes */

.red {
  color: #fb4934;
}
