---
import '../style.css';
import Navigation from '../components/nav.astro';

const {pageTitle} = Astro.props;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
        <meta name="description" content="Este sitio es el refugio personal de  un tal Mateo, donde comparte basura y sus vivencias.">
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css'>
		<title>{pageTitle}</title>
	</head>
	<body>
        <div class="wrapper">
            <Navigation />    
            <main>
                <h1>{pageTitle}</h1>
                <slot />
            </main>
        </div>
    </body>
</html>
