---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <h4>Escrito el {frontmatter.pubDate.toString().slice(0,10)}</h4>
    <slot />
</BaseLayout>
