---
import BaseLayout from './BaseLayout.astro';
import { formatDate } from '../utils/formatDate';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title} pageDescription={frontmatter.description}>
    <h4>Escrito el {formatDate(frontmatter.pubDate)}</h4>
    <slot />
    <h2>Comentarios</h2>
    <p>¿Quieres comentar algo? Una pena, soy muy vago para programar algo así, lo que puedes hacer es escribir algo en <a href="/guestbook">Mi GuestBook</a></p>
</BaseLayout>
